body {
    background-color: #000;
}
p {
	color: white;
}
h1, h3, h6, ul{
	color: white;
}
ul{

	text-decoration: underline;
}

#right {
	text-align: right;
}

#placeTime, #placeDay, #placeWeatherCurTemp, #placeFocus{
	display: inline-block;
    vertical-align: middle;
    margin-left: 30px;
}

#headlines{
	display: inline-block;
    vertical-align: middle;
    margin-right: 30px;
}


@font-face {
font-family: AvenirBook;
font-weight: bold;
src: url("Avenir/AvenirLTStd-Book.otf") format("opentype");
}
@font-face {
font-family: AvenirLight;
font-weight: bold;
src: url("Avenir/AvenirLTStd-Light.otf") format("opentype");
}
@font-face {
font-family: AvenirRoman;
font-weight: bold;
src: url("Avenir/AvenirLTStd-Roman.otf") format("opentype");
}


h1, h3, p, h6, ul{
	font-family: AvenirBook;
}
